<nav class="w-full p-1 flex justify-between items-center bg-indigo-500 shadow-lg">
<div class="logo">
    <span class="text-gray-200 text-xl flex justify-start items-center">GuestBook</span>
</div>


<div class="nav-items">
<span class="text-sm cursor-pointer text-gray-100 font-bold m-3 hover:underline hover:text-indigo-100"> Login</span>
<span class="text-sm cursor-pointer text-gray-100 font-bold m-3 hover:underline hover:text-indigo-100"> Register</span>
<span class="text-sm cursor-pointer text-gray-100 font-bold m-3 hover:underline hover:text-indigo-100"> Welcome</span>
<span class="text-sm cursor-pointer text-gray-100 font-bold m-3 hover:underline hover:text-indigo-100"> Logout</span>
</div>
</nav>
